/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https: //mozilla.org/MPL/2.0/. */

body {
    background: green url(../images/background.jpg) center fixed no-repeat;
    background-size: cover;
    font: normal 12pt sans-serif;
    padding: 10px 50px;
    text-align: center;
}

section.whatsnew p.changed::before {
    background: #3399FF;
    content: "CHANGED";
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
}

section.whatsnew p.fixed::before {
    background: #FFCC00;
    content: "FIXED";
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
}

section.whatsnew p.new::before {
    background: #00CC66;
    content: "NEW";
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
}

section.whatsnew p.improved::before {
    background: #FF9900;
    content: "IMPROVED";
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
}

section.support a,
section.review a {
    border-radius: 100px;
    box-sizing: border-box;
    display: block;
    font-size: 150%;
    margin: 25px;
    padding: 20px;
    text-decoration: none;
    transition: ease all .5s;
}

section.support a {
    color: white;
    background-color: #003087;
}

section.review a {
    background: #FFCC00;
    color: white;
}

a:hover {
    filter: brightness(200%);
}

p.example.pass span {
    background-color: #00CC66;
}

p.example.fail span {
    background: #FF3333;
}

section.howitworks div.note {
    background: #99CCFF;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px;
    padding: 5px 10px;
}

span#tempconverttest {
    background: white;
    font-size: 200%;
    padding: 10px 30px;
}

span#tempconverttest span.firefoxtempconvertedcomplete {
    color: #00CC66;
}

span#tempconverttest span.firefoxtempconvertedcomplete::after {
    content: "\002714 It's that simple!";
}

div.container {
    background: rgba(255, 255, 255, .9);
    border-radius: 50px;
    padding: 50px;
}

header, section.description {
    text-align: center;
}

header img {
    background: #99CCFF;
    border-radius: 100%;
    padding: 10px;
}